<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KineticValidator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KineticValidator.Properties.Settings>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastProjectFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SkipSchemaErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReformatJson" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemMacros" serializeAs="String">
        <value>%value%; %row%; %oldValue%; %current%; %previous%; %column%; %currentDataView%; %previousDataView%; %coreCurrentDataView%; %corePreviousDataView%; %nodeEntityType%; %nodeSysRowID%; %nodeIsFolder%; %dragEntityType%; %startDateTime%; %endDateTime%; %isAllDayEvent%; %viewName%</value>
      </setting>
      <setting name="SystemDataViews" serializeAs="String">
        <value>Constant;CallContextBpmData;CallContextClientData;actionResult;searchResult;sysLicensedModules;sysTools;sysGlobalVariable;sysPages;sysTabs;sysVariable;sysTreeNode;sysDragRows;sysPublishedData;strings;sysGanttTasks;</value>
      </setting>
      <setting name="InitialProjectFiles" serializeAs="String">
        <value>dataviews.jsonc;events.jsonc;layout.jsonc;rules.jsonc;tools.jsonc;strings.jsonc;patch.jsonc</value>
      </setting>
      <setting name="IgnoreSchemaErrors" serializeAs="String">
        <value>ArrayItemNotValid;PropertyRequired;NoAdditionalPropertiesAllowed</value>
      </setting>
      <setting name="MainWindowPositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowPositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor1PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor1PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor1Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor1Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor2PositionX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor2PositionY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor2Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Editor2Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IgnoreHttpsError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnabledValidators" serializeAs="String">
        <value>SchemaValidation;RedundantFiles;ValidateFileChars2;DuplicateIds;EmptyPatchNames;RedundantPatches;CallNonExistingPatches;OverridingPatches;PatchAllFields;EmptyStringNames;EmptyStringValues;RedundantStrings;CallNonExistingStrings;OverridingStrings;EmptyEventNames;EmptyEvents;OverridingEvents;RedundantEvents;CallNonExistingEvents;EmptyDataViewNames;RedundantDataViews;CallNonExistingDataViews;OverridingDataViews;EmptyRuleNames;OverridingRules;EmptyToolNames;OverridingTools;MissingForms;MissingSearches;JsCode;JsDataViewCount;IncorrectLayoutIds</value>
      </setting>
      <setting name="ShowPreview" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SaveTmpFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerAssembliesPath" serializeAs="String">
        <value>C:\_projects\ERP\Current\Deployment\Server\Assemblies</value>
      </setting>
      <setting name="UseVsCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplyPatches" serializeAs="String">
        <value>True</value>
      </setting>
    </KineticValidator.Properties.Settings>
  </userSettings>
</configuration>
